/*all styling*/

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Raleway';
}


.cover{
  background: url("../img/cover2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

.headercontainer{
  border-bottom: 1px solid black;
}

header{
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  color:rgb(41, 38, 30);
  align-items: center;
  font-size: 1.5rem;
  flex-wrap: wrap;
}

.logo-container, .nav-links{
  display: flex;
}
.logo-container{
  align-items: center;
}
.logo-container img{
  width:10%;
  height:10%;
  mix-blend-mode: multiply;
}
.logo{
  font-weight: 400;
  text-decoration: none;
  color: rgb(41, 38, 30);
  margin: 5px;
}

.logo:hover{
  color:rgb(45, 96, 27);
  
}

nav{
  flex: 2;
}
.nav-links{
  justify-content: space-around;
  list-style: none;
  flex-wrap: wrap;
}
.nav-link{
  color: rgb(41, 38, 30);
  font-size:  1rem;
  text-decoration: none;
  transition:.2s;
}

.nav-link:hover{
  color:rgb(45, 96, 27);
  font-size:1.25rem;
}

/*all styling ends*/
/*homepage styling begins*/

.presentation{
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
  padding-left: 30px;
}

.header h1{
  font-size: 3.5rem;
  color:rgb(41, 38, 30)
}

.header button {
  color: black;
  background: rgb(41, 38, 30, 0);
  padding: 12px 32px;
  border: 2px rgb(41, 38, 30) solid;
  font-size: 18px;
  margin-top: 10px;
  
}

.header button:hover {
  cursor: pointer;
  background: rgba(0, 201, 77, 0.2);
  transition:.5s;
}

  
  /*all styling ends*/
  /*airline info styling begins*/

  .cover{
    background: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
  }

.centercontent{
  display:flex;
  justify-content: center;
  margin-bottom: 10%;
}

.main-content{
  display:flex;
  width:100%;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-content section{
  border-radius: 30px;
  width:350px;
  margin-top: 1.5%;
  box-shadow: 10px 10px 27px 1px rgba(0,0,0,0.75);

}

.main-content section img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

}

.main-content h1{
  font-size:2rem;
}




#aboutus{
  text-align: center;
  font-family: "Raleway";
  font-size: 5rem;
  letter-spacing: 2rem;
  padding-top: 1.5%;
}


.main-content h1{
  padding:20px 20px 0px 20px;
}
.main-content p{
  padding:20px;
}









/*******/

.contact{
  padding-top: 40px;
  text-align:center;
  margin:auto;
  align-items: center;
  background: url("../img/airport.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color:white;
  display:flex;
  
}

.title{
  text-align: left;
  padding-left: 30px;
  flex:1;
}


.title h1{
  font-size: 3rem;
}


.inputinfo{
  flex:2;
  display:flex;
  flex-wrap: wrap;

}

.userinfo{
  flex:1;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.message{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.message textarea{
  margin-left: 25px;
  justify-self: left;
  background:transparent;
  font-size: 1.5rem;
  width:90%;
  height:55%;
  color:white;
  padding:5px;
  font-family: 'Raleway';

}

.message textarea::placeholder{
  font-family: 'Raleway';
  color:rgb(190, 190, 190);
}

.message button{
  width:50%;
  margin-top:20px;
  align-self: center;
  background: transparent;
  font-size: 1.5rem;
  color:white;
  font-family: 'Raleway';

}

.message button:hover{
  transition: .5s;
  background-color: rgba(0, 201, 77, 0.2);
  cursor: pointer;
}
.inputinfo input{
  background: transparent;
  font-size:2rem;
  padding:5px;
  font-family: 'Raleway';
  color:white;
}

.inputinfo input::placeholder{
  font-family: 'Raleway';
  color:rgb(190, 190, 190);
}

/*

.inputinfo input, textarea{
  width: 40%;
  font-size: 14px;
}

.inputinfo input{
  padding-top: 10px;
  margin: 0px 0px 10px 0px;
}

*/

.social{
  padding-top: 10px;
}

.social a{
  padding-right: 20px;
}

.social a:last-child{
  padding-right:0px;
}


footer{
  background-color: #9695a8;
  color: black;
  text-align: center;
}